*{
	 
}
body {
  background: #ffffff;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}
.flex{
	display:flex;
	
}
.main{
	//border:1px solid white;
	font-size: 28px;
	margin:8%;
}
.title{
	color:#fb3640
}
#input{
  color: rgb(0, 0, 0);
  font-size: 30px;
  background: transparent;
  border: 0; 
}

#input:focus {
  outline: 0;
  outline-offset: 0;
}
button{
	margin-top:4%;
	padding:10px;
	color:#fb3640;
	border-radius:8px;
}
#img{
	margin:auto;
	height:250px;
	width:250px;
}
@media screen and (max-width: 600px) {
	.flex{
	display:block;
	}
	#img{
	margin-left:30%;
	height:200px;
	width:200px;
	}
}